<div class="container customers">
    <div class="row">
        <form class="form-horizontal">
        <div class="col-lg-9 col-md-9">
            <div class="panel panel-content">
                <div class="panel-heading">
                    <div class="create-buttons pull-right">
                        <a href="/settings/agents/{{id}}" class="btn btn-default btn-sm">{{gettext 'Cancel'}}</a>
                        <button type="submit" class="btn btn-primary save">{{gettext 'Save'}}</button>
                    </div>
                    <h3>{{gettext 'Rest Password'}}</h3>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" role="tabpanel">
                            <div class="list">
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3">
                                            <label class="control-label">{{gettext 'User Name'}}</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9"><p class="form-control-static">{{username}}</p>
                                            <input name="username" id="username1" type="hidden" value="{{username}}">
                                            <input name="id" id="id" type="hidden" value="{{id}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3">
                                            <label class="control-label">{{gettext 'Password'}}</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9">
                                            <input id="password" name="password" type="password" placeholder="{{gettext 'Password'}}" minlength="6" class="form-control">
                                        </div>
                                    </div>
                                    <div id="password_required" class="error-messages form-group">
                                        <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                            <span class="text-danger">{{gettext 'Passowrd required'}}</span>
                                        </div>
                                    </div>
                                    <div id="passwordMinError_required" class="error-messages form-group">
                                        <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                            <span class="text-danger">{{gettext 'password min error required'}}</span>
                                        </div>
                                    </div>
                                    <div id="passwordMaxError_required" class="error-messages form-group">
                                        <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                            <span class="text-danger">{{gettext 'password max error required'}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-3">
                                            <label class="control-label">{{gettext 'Confirm PD'}}</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9">
                                            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="{{gettext 'Confirm PD'}}" minlength="6" class="form-control">
                                        </div>
                                    </div>
                                    <div id="confirmPassword_required" class="error-messages form-group">
                                        <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                            <span class="text-danger">{{gettext 'confirmPassword required'}}</span>
                                        </div>
                                    </div>
                                    <div id="confirmPasswordError_required" class="error-messages form-group">
                                        <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                            <span class="text-danger">{{gettext 'confirmPasswordError required'}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="create-buttons pull-right">
                                            <a href="/settings/agents/{{id}}" class="btn btn-default btn-sm">{{gettext 'Cancel'}}</a>
                                            <button type="submit" class="btn btn-primary save">{{gettext 'Save'}}</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>{{! panel-body end}}
            </div>{{! panel end}}
        </div>
        </form>
    </div>
</div>