<div class="panel-heading">
    <h4>{{gettext 'Information'}}</h4>
</div>
<div class="panel-body">
    <ul></ul>
    {{#if username}}<p><label>{{gettext 'User Name'}}</label>{{username}}</p>{{/if}}
    {{#if name}}<p><label>{{gettext 'Name'}}</label>{{name}}</p>{{/if}}
    {{#if workNum}}<p><label>{{gettext 'WorkNum'}}</label>{{workNum}}</p>{{/if}}
    {{#if mobile}}<p><label>{{gettext 'Mobile'}}</label>{{mobile}}</p>{{/if}}
    {{#if post}}<p><label>{{gettext 'Post'}}</label>{{post}}</p>{{/if}}
    {{#if remark}}<p><label>{{gettext 'Remark'}}</label>{{remark}}</p>{{/if}}
</div>