<div class="panel-heading">
<h4>{{! <i class="fa fa-newspaper-o"></i>}}{{gettext 'Tickets Total'}}</h4>
</div>
<div class="panel-body text-center">
    <ul>
        {{! 保持li不换行 }}
        <li>
            {{#if expiredNum}}<dl class="text-danger">{{else}}<dl>{{/if}}<dt>{{expiredNum}}</dt><dd>{{gettext 'Expried'}}</dd></dl>
        </li><li>
            <dl><dt>{{openedNum}}</dt><dd>{{gettext 'Processing'}}</dd></dl>
        </li><li>
            <dl><dt>{{pendingNum}}</dt><dd>{{gettext 'Paused'}}</dd></dl>
        </li><li>
            <dl><dt>{{todayExpiredNum}}</dt><dd>{{gettext 'Overdue'}}</dd></dl>
        </li><li>
            <dl><dt>{{unassignedNum}}</dt><dd>{{gettext 'Unassigned'}}</dd></dl>
        </li>
    </ul>
</div>