
<td class="agentnames text-left">
    <p>{{#if agentName}}{{agentName}}{{/if}}</p>
</td>
<td class="text-center">
    {{#if createdTicketsNum}}{{createdTicketsNum}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if openedTicketsNum}}{{openedTicketsNum}}{{else}}0{{/if}}

</td>
<td class="text-center">
     {{#if pendingTicketsNum}}{{pendingTicketsNum}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if resolvedTicketsNum}} {{resolvedTicketsNum}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if closedTicketsNum}} {{closedTicketsNum}}{{else}}0{{/if}}
</td>