<div></div>
<table class="table table-striped table-bordered">
    <thead>
        <tr class="text-center">
            <td class="text-left">{{gettext 'Agent'}}</td>
            <td class="contacts">{{gettext 'Create tickets num'}}</td>
            <td class="contacts">{{gettext 'Processing tickets num'}}</td>
            <td class="contacts">{{gettext 'Wait for reply tickets num'}}</td>
            <td class="contacts">{{gettext ' Resolved tickets num'}}</td>
            <td>{{gettext 'Closed tickets num'}}</td>
        </tr>
    </thead>
    <tfoot>
        <tr class="total text-center">
            <td class="text-left">{{gettext 'total'}}</td>
            <td id ="createdTicketsNumSum" class="contacts"></td>
            <td id ="openedTicketsNumSum" class="contacts"></td>
            <td id ="pendingTicketsNumSum" class="contacts"></td>
            <td id ="resolvedTicketsNumSum" class="contacts"></td>
            <td id ="closedTicketsNumSum"></td></tr>
    </tfoot>
    <tbody>
        <tr class="loading"><td colspan="6"><p>{{gettext 'Now Loading...'}}</p></td></tr>
        <tr class="non-items"><td colspan="6"><p>{{gettext 'Non Items Statistics Data'}}</p></td></tr>
    </tbody>
</table>