<td class="text-center" title="{{#if sheetid}}{{sheetid}}{{else}}{{/if}}">
    {{#if sheetid}}{{sheetid}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if cartname}}{{cartname}}{{else}}{{/if}}">
    <a href="settings/dev/{{cartcode}}/form">{{#if cartname}}{{cartname}}{{else}}{{/if}}</a>
</td>
<td class="text-center" title="{{#if drugname}}{{drugname}}{{else}}{{/if}}">
     {{#if drugname}}{{drugname}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if drugcount}}{{drugcount}}{{else}}0{{/if}}">
    {{#if drugcount}} {{drugcount}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if_eq sheetstatus '6'}}{{gettext 'End'}}{{else}}{{gettext 'Generated'}}{{/if_eq}}
</td>
