<td class="resource pick pick_td">
    <input class="pick-input" type="checkbox" value="{{id}}" checked="checked" >
</td>
<td class="avatar">
    <i class="fa fa-android"></i>
</td>
<td class="dev">
    {{id}}
</td>
<td class="dev">
    {{#if name}}<span title="{{gettext 'Dev name'}}: {{name}}">{{name}}</span>{{/if}}
</td>
