<td class="agentnames text-left">
    <p>{{#if drugname}}{{drugname}}{{/if}}</p>
</td>
<td class="text-center">
    {{#if specifications}}{{specifications}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if unit}}{{unit}}{{else}}0{{/if}}

</td>
<td class="text-center">
     {{#if stocksize}}{{stocksize}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if drugsupplementnumber}} {{drugsupplementnumber}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if periodofvalidity}} {{periodofvalidity}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if operator}} {{operator}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if operator}} {{operator}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if operator}} {{operator}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if operator}} {{operator}}{{else}}0{{/if}}
</td>
