<td class="text-center">
    {{#if drugName}}{{drugName}}{{else}}{{/if}}
</td>
<td class="text-center">
    {{#if specifications}}{{specifications}}{{else}}{{/if}}
</td>
<td class="text-center">
     {{#if unit}}{{unit}}{{else}}{{/if}}
</td>
<td class="text-center">
    {{#if amount}} {{amount}}{{else}}0{{/if}}
</td>
<td class="text-center">
    {{#if validityPeriod}} {{validityPeriod}}{{else}}{{/if}}
</td>
<td class="text-center">
    {{#if inpatientArea}} {{inpatientArea}}{{else}}{{/if}}
</td>
<td class="text-center">
    {{#if position}} {{position}}{{else}}{{/if}}
</td>
<td class="text-center">
    {{#if madeFrom}} {{madeFrom}}{{else}}0{{/if}}
</td>
