<!--<td class="resource pick pick_td">
    <input class="pick-input" type="checkbox" value="{{id}}" checked="checked" >
</td>-->
<td class="text-left">
    <p>{{#if index}}{{index}}{{/if}}</p>
</td>
<td class="text-center" title="{{#if drugname}}{{drugname}}{{else}}{{/if}}">
    {{#if drugname}}{{drugname}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if drugspec}}{{drugspec}}{{else}}{{/if}}">
    {{#if drugspec}}{{drugspec}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if suittype}}{{suittype}}{{else}}{{/if}}">
    {{#if suittype}}{{suittype}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if drugstock}}{{drugstock}}{{else}}{{/if}}">
    {{#if drugstock}} {{drugstock}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if cartname}}{{cartname}}{{else}}0{{/if}}">
    {{#if cartname}}{{cartname}}{{else}}0{{/if}}
</td>
<td class="text-center" title="{{#if vendor}}{{vendor}}{{else}}{{/if}}">
    {{#if vendor}}{{vendor}}{{else}}{{/if}}
</td>
