<td class="text-left">
    <p>{{#if index}}{{index}}{{/if}}</p>
</td>
<td class="text-center" title="{{#if DrugName}}{{DrugName}}{{else}}{{/if}}">
    {{#if DrugName}}{{DrugName}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if DrugSpec}}{{DrugSpec}}{{else}}{{/if}}">
    {{#if DrugSpec}}{{DrugSpec}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if SuitType}}{{SuitType}}{{else}}{{/if}}">
     {{#if SuitType}}{{SuitType}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if drugstock}}{{drugstock}}{{else}}{{/if}}">
    {{#if drugstock}} {{drugstock}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if ExpiredDate}}{{ExpiredDate}}{{else}}{{/if}}">
    {{#if ExpiredDate}}{{ExpiredDate}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if CartName}}{{CartName}}{{else}}{{/if}}">
    {{#if CartName}}{{CartName}}{{else}}{{/if}}
</td>
<td class="text-center" title="{{#if Vendor}}{{Vendor}}{{else}}{{/if}}">
    {{#if Vendor}}{{Vendor}}{{else}}{{/if}}
</td>
