<div class="panel panel-sidebar">
    <div class="panel-heading">
        <h5>{{gettext 'Report query parameters'}}</h5>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="begin-time">{{gettext 'Retention date'}}</label>
                <div class='input-group date'>
                    <input id="begin-time" name="begintime" readonly class="form-control">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <label for="end-time">{{gettext 'To'}}</label>
                <div class='input-group date'>
                    <input id="end-time" name="endtime" readonly class="form-control">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <label for="dev-type">{{gettext 'Dev type'}}</label>
            <select id="dev-type" class="form-control">
                <option value="0">--</option>
            </select>
            <br>
            <label for="drug-type">{{gettext 'Drug type'}}</label>
            <select id="drug-type" class="form-control">
                <option value="0">--</option>
            </select>
            <br>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">{{gettext 'Query'}}</button>
            </div>
        </form>
    </div>
</div>
