<td class="avatar">
    <img src="{{assets '/images/avatar-32.png'}}" alt="avator" />
</td>
<td class="contacts">
    <p><a href="/settings/agents/{{id}}">{{name}}</a></p><br>
    {{#if position}}{{position}}<br>{{/if}}
</td>
<td class="contacts">
    {{#if username}}{{gettext 'Email'}}: {{username}}<br>{{/if}}
    {{#if mobile}}{{gettext 'Mobile'}}: {{mobile}}{{/if}}
</td>
<td class="contacts">
    {{#if status}} {{status}}{{/if}}
</td>
<td class="text-right">
    <button class="btn btn-default btn-xs restore">{{gettext 'Restore'}}</button>
</td>
