<i class="fa fa-ticket fa-2x" />
<a href="/tickets/{{id}}">{{subject}} #{{serialNumber}}</a><br>
<p>{{#if createdDate}}{{fromNow createdDate}}, {{/if}}{{gettext "Status"}}: {{gettext state}}, {{gettext "Come From"}}:  {{requester.name}}</p>
