<ul class="timeline-list">
</ul>
<div class="loading"><p>{{gettext 'Now Loading...'}}</p></div>
<div class="non-items"><p>{{gettext 'Non Items Tickets'}}</p></div>
<div class="more-results"><a href="/tickets?assignee={{assignee}}&sort={{sort}}&page={{page}}">{{gettext 'View All Tickets'}}</a></div>