<div class="container">
    <div class="panel panel-content">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <h3>
                        {{gettext 'Create Agent'}}
                    </h3>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h5>
                        {{gettext 'Add agent title'}}
                    </h5>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="text-center">
                        <img src="{{assets '/images/anonymous-100.png'}}" alt="Anonymous" class="img-thumbnail avatar">
                        {{!--
                        <span class="btn btn-link fileinput-button"><i class="fa fa-plus"></i> {{gettext 'Add Avatar'}}<input class="fileupload" name="attachment" type="file"/></span>
                        --}}
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <form class="form-horizontal">
                        <h4>{{gettext 'Agent Info'}}</h4>

                        <div class="form-group">
                            <label for="loginname" class="col-lg-3 col-md-3 control-label required">{{gettext 'User Name'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="loginname" name="loginname" placeholder="{{gettext 'Agent User Name Placeholder'}}" maxlength="32" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div id="userName_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'UserName required'}}</span>
                            </div>
                        </div>
                        <div id="invalidation_userName" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Invalidation UserName'}}</span>
                            </div>
                        </div>
                        <div id="alreadyExists_userName" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Loginname has been registered'}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-lg-3 col-md-3 control-label required">{{gettext "Name"}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="username" name="username" placeholder="{{gettext 'Name'}}" maxlength="16" class="form-control">
                            </div>
                        </div>
                        <div id="name_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Name required'}}</span>
                            </div>
                        </div>
                        <div id="nameError_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Name error required'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-lg-3 col-md-3 control-label required">{{gettext 'Password'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="password" name="password" type="password" placeholder="{{gettext 'Password'}}" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div id="password_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'password required'}}</span>
                            </div>
                        </div>
                        <div id="passwordError_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'password error required'}}</span>
                            </div>
                        </div>
                        <div id="password_length_min_error" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'password length min'}}</span>
                            </div>
                        </div>
                        <div id="password_length_max_error" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'password length max error'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="col-lg-3 col-md-3 control-label required">{{gettext 'Confirm PD'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="confirmPassword" name="confirmPassword" type="password" placeholder="{{gettext 'Confirm PD'}}" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div id="confirmPassword_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'confirmPassword required'}}</span>
                            </div>
                        </div>
                        <div id="confirmPasswordMinError_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Confirm password min error required'}}</span>
                            </div>
                        </div>
                        <div id="confirmPasswordMaxError_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Confirm password max error required'}}</span>
                            </div>
                        </div>
                        <div id="confirmPasswordError_required" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'confirmPasswordError required'}}</span>
                            </div>
                        </div>
                        {{!-- 工号--}}
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 control-label">{{gettext 'WorkNum'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="workNum" name="workNum" maxlength="16" class="form-control" placeholder="{{gettext 'Agent WorkNum Placeholder'}}">
                            </div>
                        </div>
                        <div id="alreadyExists_workNum" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'workNum has been exists'}}</span>
                            </div>
                        </div>
                        {{!-- 手机--}}
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 control-label">{{gettext 'Mobile'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="mobile" name="mobile" maxlength="32" class="form-control" placeholder="{{gettext 'Mobile'}}">
                            </div>
                        </div>
                        {{!-- 职位-
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 control-label">{{gettext 'Post'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="post" name="post" maxlength="16" class="form-control" placeholder="{{gettext 'Agent Post Placeholder'}}">
                            </div>
                        </div>-}}
                        {{!-- 备注--}}
                        <div class="form-group">
                            <label for="memo" class="col-lg-3 col-md-3 control-label">{{gettext 'Remark'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <textarea id="memo" name="memo" maxlength="500" class="form-control" rows="8" placeholder="{{gettext 'Agent Remark Placeholder'}}"></textarea>
                            </div>
                        </div>
                        <h4>{{gettext 'Roles information'}}</h4>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 control-label">{{gettext "Agent Roles"}}</label>
                            <div class="col-lg-9 col-md-9">
                                <p class="form-control-static">{{gettext 'Agent'}}</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="/settings/agents" class="btn btn-default">{{gettext 'Cancel'}}</a>
                            <button type="submit" class="btn btn-primary save">{{gettext 'Save'}}</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3 text-muted">{{{gettext 'Add agent help document'}}}</div>
            </div>
         </div>
    </div>
</div>
