<td class="pick">
    <input class="pick-input" type="checkbox" value="{{id}}">
</td>
<td class="avatar">
    <i class="fa fa-android"></i>
</td>
<td class="pick">
    {{id}}
</td>
<td class="pick">
    {{#if name}}<span title="{{name}}">{{gettext 'Dev name'}}: {{name}}</span>{{/if}}
    {{#if typename}}<br><span title="{{typename}}">{{gettext 'Dev type name'}}: {{typename}}</span>{{/if}}
</td>
