<td class="avatar">
    <i class="fa fa-android"></i>
</td>
<td class="dev">
    {{id}}
</td>
<td class="dev">
    {{#if name}}<span title="{{gettext 'Dev name'}}: {{name}}">{{name}}</span>{{/if}}
    {{#if dept_name}}<br><span title="{{gettext 'Dept name'}}: {{dept_name}}">{{dept_name}}</span>{{/if}}
    {{#if typename}}<br><span title="{{gettext 'Dev type name'}}: {{typename}}">{{typename}}</span>{{/if}}
</td>
<td class="dev">
    {{#if createtime}}<span title="{{gettext 'Create time'}}: {{datetimeFormat createtime}}">{{datetimeFormat createtime}}</span>{{/if}}
    {{#if lastestmodifytime}}<br><span title="{{gettext 'Lastest modify time'}}: {{datetimeFormat lastestmodifytime}}">{{datetimeFormat lastestmodifytime}}</span>{{/if}}
</td>
<td class="text-right">
<button class="btn btn-default btn-xs delete">{{gettext 'Remove'}}</button>
</td>
