<td class="avatar">
    <i class="fa fa-android"></i>
</td>
<td class="dev">
    {{id}}
</td>
<td class="dev">
    {{#if name}}<span title="{{gettext 'Dev name'}}: {{name}}">{{name}}</span>{{/if}}
    {{#if deptname}}<br><span title="{{gettext 'Dept name'}}: {{deptname}}">{{deptname}}</span>{{/if}}
    {{#if typename}}<br><span title="{{gettext 'Dev type name'}}: {{typename}}">{{typename}}</span>{{/if}}
</td>
<td class="dev">
    {{#if createtime}}<span title="{{gettext 'Create time'}}: {{datetimeFormat createtime}}">{{datetimeFormat createtime}}</span>{{/if}}
    {{#if lastestmodifytime}}<br><span title="{{gettext 'Lastest modify time'}}: {{datetimeFormat lastestmodifytime}}">{{datetimeFormat lastestmodifytime}}</span>{{/if}}
</td>
<td class="text-right last-td">
<a href="/settings/dev/{{id}}/form" class="btn btn-default btn-xs">{{gettext 'Look/Update'}}</a>
<button class="btn btn-default btn-xs delete"><i class="fa fa-trash"></i></button>
</td>
