<div class="container customers">
    <div class="panel panel-content">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <h3>
                        {{gettext 'Create Group'}}
                    </h3>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h5>
                        {{gettext 'Add group title'}}
                    </h5>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-lg-3 col-md-3 control-label required">{{gettext 'Group Name'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input name="name" id="name" type="text" class="form-control" maxlength="16" placeholder="{{gettext 'Group Name'}}">
                            </div>
                        </div>
                        <div id="invalidGroupName" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Invalid Group Name'}}</span>
                            </div>
                        </div>
                        <div id="group_already_exists" class="error-messages form-group">
                            <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9">
                                <span class="text-danger">{{gettext 'Group Already Exists'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-lg-3 col-md-3 control-label">{{gettext 'Description'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <textarea name="description" id="description" class="form-control" maxlength="500" placeholder="{{gettext 'Description'}}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="agentEmails" class="col-lg-3 col-md-3 control-label">{{gettext 'Agent'}}</label>
                            <div class="col-lg-9 col-md-9">
                                <input id="agentEmails" name="agentEmails" class="group-select form-control">
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="/settings/group" class="btn btn-default update_cancel">{{gettext 'Cancel'}}</a>
                            <button type="submit" class="btn btn-primary">{{gettext 'Submit'}}</button>
                        </div>
                    </form>
                </div>
                <div class="group-help col-lg-3 col-md-3 text-muted">{{{gettext 'Add group help document'}}}
                </div>
            </div>
        </div>{{! panel-body end}}
    </div>{{! panel end}}
    <div class="promptView"></div>
</div>

