<table class="table table-striped table-bordered roles">
    <tbody>
    <tr><td colspan="2"><p><strong><a href="/settings/roles/administrator">{{gettext 'Administrators'}}</a></strong><br><small class="text-muted">{{gettext 'Administrators Description'}}</small></p></td></tr>
    <tr><td colspan="2"><p><strong><a href="/settings/roles/agent">{{gettext 'Agents'}}</a></strong><br><small class="text-muted">{{gettext 'Agents Description'}}</small></p></td></tr>
    <tr><td colspan="2"><p><strong><a href="/settings/roles/monitor">{{gettext 'Leader'}}</a></strong><br><small class="text-muted">{{gettext 'Leader Description'}}</small></p></td></tr>
    </tbody>
</table>