<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{gettext 'Confirm Delete Corporation'}}</h4>
        </div>
        <div class="modal-body">
            <p>{{gettext 'Delete Corporation?'}}</p>
        </div>
        <div class="modal-footer">
            <a class="confirm-no btn btn-default">{{gettext 'Delete Corporation'}}</a>
            <a class="confirm-yes btn btn-default">{{gettext 'Delete Corporation And Contacts'}}</a>
            <a class="confirm-cancel btn btn-default">{{gettext 'Cancel'}}</a>
        </div>
    </div>
</div>
