{{gettext '<a href="/corporations/%s/contacts">%d Corporation Contacts</a>'}}
{{gettext 'State Opened'}}
{{gettext 'State Resolved'}}
{{gettext 'State Pending'}}
{{gettext 'State Closed'}}
{{gettext 'No Recent Data'}}