<div class="container tickets-update">
    <div class="panel panel-content">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <h3>
                        {{gettext "Update Ticket"}}
                    </h3>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h5>
                        {{gettext 'Update ticket title'}}
                    </h5>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <form class="ticket-form form-horizontal">
                        <div class="form-group">
                            <div class=" col-md-12 co-lg-12">
                                <label class="required">{{gettext "Search Requester"}} or <b><a class="addNewContacts" href="#add-new-contacts" data-bypass>{{gettext "add new requester"}}</a></b></label>
                                <br>
                                <input id="requester" class="group-select form-control" name="requester" type="text" value="{{requester.id}}">
                                <span id="requesterNameInvalid" class="error-messages text-danger">
                                    {{gettext "Requester Request"}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-12 co-lg-12">
                                <label class="required"> {{gettext "Subject"}}</label>
                                <br>
                                <input class="form-control" name="subject" type="text" maxlength="128" value="{{subject}}">
                                <span id="subjectCanNotBeNull" class="error-messages text-danger">{{gettext "Subject Can Not Be Null"}}</span>
                                <span id="subjectTooLang" class="error-messages text-danger">{{gettext "Too Many Words"}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5">
                                <label>{{gettext "Type"}}</label>
                                <br>
                                <select name="type" class="tickets-type form-control">{{#ticketsTypeOptions ticketForm.type type}}{{gettext this}}{{/ticketsTypeOptions}}</select>
                            </div>
                            <div class="col-md-5 col-lg-5 col-lg-offset-2 col-md-offset-2">
                                <label>{{gettext "Status"}}</label>
                                <br>
                                <select name="state" class="tickets-status form-control">
                                    {{#objectOptions ticketForm.ticketState state value='agentDisplay'}}{{gettext this.agentDisplay}}{{/objectOptions}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5">
                                <label>{{gettext "Priority"}}</label>
                                <br>
                                <select name="priority" class="tickets-priority form-control">
                                    {{option 20 (gettext "Priority 20") priority}}
                                    {{option 40 (gettext "Priority 40") priority}}
                                    {{option 60 (gettext "Priority 60") priority}}
                                    {{option 80 (gettext "Priority 80") priority}}
                                </select>
                            </div>
                            <div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
                                <label>{{gettext "Group"}}</label>
                                <br>
                                <select name="group" class="tickets-group form-control">
                                    <option value="">--</option>
                                    {{#objectOptions groups group.id}}{{! 默认的value属性是Id}}
                                        {{name}}
                                    {{/objectOptions}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-lg-5">
                                <label>{{gettext "Assignee Agent"}}</label>
                                <select name="assignee" class="tickets-agent form-control">
                                    <option value="">--</option>
                                    {{#if assignee.blocked}}
                                        <option value="{{assignee.username}}" selected="selected">{{assignee.name}}</option>
                                    {{/if}}
                                    {{#objectOptions agents assignee.username value='username'}}
                                        {{name}}
                                    {{/objectOptions}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-lg-12">
                                <label>{{gettext "Description"}}</label>
                                <br>
                                <textarea id="ticket-description" name="description" row="10" class="form-control">{{description}}</textarea>
                                <span id="DescriptionSizeExceedsTheAllowableLimit" for="tickets-description" class="error-messages text-danger">
                                    {{gettext 'Description length exceeds the allowable limit'}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-lg-12">
                                <div id="file-uploader"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-lg-12">
                                <span class="help-text">{{gettext 'Upload file title'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ticket-attachment-parent col-md-12 col-lg-12">
                                {{#each attachments}}
                                    <div class="ticket-attachment">
                                        <div class="attachment-name-i"><i class="fa fa-file-o fa-2x"></i></div>
                                        <div class="attachment-action ">
                                            <a class="text-muted" title="{{gettext 'Delete'}}"><i class="fa fa-close"></i></a>
                                        </div>
                                        <div class="attachment-name valid">
                                            <a class=""  data-id="{{id}}" href="{{uri}}" data-bypass title="{{gettext 'File name'}}: {{filename}}, {{gettext 'Size'}}: {{numeralFormat size format='0.0b'}}">
                                                <span class="attachment-name-e attachment-name-e-file-name"><span class="attachment-name-e-inline">{{filename}}</span></span>
                                            </a>
                                            <span class="attachment-name-e attachment-name-e-file-size text-muted"><span class="attachment-name-e-inline">{{gettext "Size"}}: {{numeralFormat size format='0.0b'}}</span></span>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-12 col-lg-12 text-right">
                                <button class="cancel btn btn-default">{{gettext "Cancel"}}</button>
                                <button type="submit" class="btn btn-primary">{{gettext "Save"}}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3 text-muted">{{{gettext 'Update ticket help document'}}}</div>
            </div>
        </div>
    </div>
</div>
<div class="add-new-requester"></div>
