<div class="tickets-info deleted-hide commentbox-state">
    <h4><span id="show-state">{{gettext state}}</span></h4>
    <div class="tickets-info-detail">
        <p>{{gettext "Craete At"}}: {{datetimeFormat createdDate}}</p>
        <p>{{gettext "Expired Date"}}: {{datetimeFormat expiredDate}}
            <a id="expired-date" href="javascript:void(0);">{{gettext 'Update ticket expires'}}</a></p>
        <div id="popover-expires" role="tooltip" class="datetimepicker-popover popover fade bottom" style="top: 101px; left: 67px;">
            <div class="arrow" style="left: 50%;"></div>
            <h4 class="popover-title">{{gettext 'Set ticket expired date'}}</h4>
            <div class="popover-content">
                <div class="date expires"></div>
                <div class="place text-right">
                <button class="btn btn-default btn-sm cancel">{{gettext 'ExpireCancel'}}</button>
                <button class="btn btn-primary btn-sm update-expires">{{gettext 'ExpiredSave'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="tickets-info">
    <div class="content"> <h4>{{gettext "Requester Info"}}</h4><b class="triangle-down-requester-info"></b></div>
    <div class="tickets-info-detail requester-info">
        <i class="fa-stack fa fa-user" style="text-align: center;"></i><a target="_blank" data-bypass href="/contacts/{{requester.id}}"> {{requester.name}}</a>
        {{#if requester.email}}
        <br>
        <i class="fa-stack fa fa-envelope" style="text-align: center;"></i> {{requester.email}}
        {{/if}}
        {{#if requester.mobile}}
        <br>
        <i class="fa-stack fa fa-mobile" style="text-align: center;"></i> {{requester.mobile}}
        {{/if}}
        {{!--
        <br>
        <a href="/tickets">{{gettext "Lastest tickets"}}</a>
        --}}
    </div>
</div>
<hr>
<div class="tickets-info deleted-hide">
    <div class="content"><h4>{{gettext "Tickets Attributes"}}</h4><b class="triangle-down-ticket-attr"></b></div>
    <form class="tickets-update form-horizontal tickets-info-detail">
        <div class="form-group">
            <div class="col-md-5 col-lg-5">
                <span><label>{{gettext "Type"}}</label></span>
                <br>
                <select id="tickets-update-type" name="type" class="tickets-type form-control">
                    {{#ticketsTypeOptions ticketForm.type type}}{{gettext this}}{{/ticketsTypeOptions}}
                </select>
            </div>
            <div class="col-md-5 col-lg-5 col-lg-offset-2 col-md-offset-2">
                <span><label>{{gettext "Status"}}</label></span>
                <br>
                <select id="tickets-update-status" name="state" class="tickets-status form-control">
                   {{#objectOptions ticketForm.ticketState state value='agentDisplay'}}{{gettext this.agentDisplay}}{{/objectOptions}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 col-lg-5">
                <span><label>{{gettext "Priority"}}</label></span>
                <br>
                <select id="tickets-update-priority" name="priority" class="tickets-priority form-control">
                    {{option 20 (gettext  "Priority 20") priority}}
                    {{option 40 (gettext  "Priority 40") priority}}
                    {{option 60 (gettext  "Priority 60") priority}}
                    {{option 80 (gettext  "Priority 80") priority}}
                </select>
            </div>
            <!--来源暂时去掉<div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
                <span>{{gettext "Source"}}</span>
                <br>
                <select id="tickets-update-source" name="source" class="tickets-group form-control">
                    <option>{{gettext "Phone"}}</option>
                    <option>{{gettext "Wei Xin"}}</option>
                    <option>{{gettext "Web"}}</option>
                </select>
            </div>-->
        </div>
        <div class="form-group">
            <div class="col-md-12 col-lg-12">
                <span><label>{{gettext "Group"}}</label></span>
                <br>
                <!--<input id="tickets-update-group" class="group-select form-control">-->
                <select id="tickets-update-group" name="group" class="tickets-group form-control">
                    <option value="">--</option>
                    {{#objectOptions groups group.id}}{{! 默认的value属性是Id}}
                    {{name}}
                    {{/objectOptions}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-lg-12">
                <span><label>{{gettext "Seat"}}</label></span>
                <!--<input id="tickets-update-seat" class="group-select form-control">-->
                <select id="tickets-update-agent" name="assignee" class="tickets-agent form-control">
                    <option value="">--</option>
                    {{#if assignee.blocked}}
                        <option value="{{assignee.username}}" selected="selected">{{assignee.name}}</option>
                    {{/if}}
                    {{#objectOptions agents assignee.username value='username'}}
                    {{name}}
                    {{/objectOptions}}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm pull-right"> {{gettext "Save"}}</button>
        {{!--
        <div class="form-group">
            <div class="col-md-12 col-lg-12 text-right">
                <button type="submit" class="btn btn-primary">{{gettext "Save"}}</button>
            </div>
        </div>
        --}}
    </form>
</div>
