<li><p>
<input type="hidden" name="attachments[]" value="{{id}}"/>
{{gettext 'Ticket Attachment:'}} <a href="/attachments/{{id}}" title="{{gettext 'Click Download Attachment'}}">{{id}} - {{filename}}</a>
<button class="btn btn-default btn-xs">{{gettext 'Remove Attachment'}}</button>
</p></li>