<div class="container tickets">
    <div class="panel panel-content">
        <div class="panel-heading">
            <h3>{{gettext "Tickets Filter"}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div id="ticketsFilterForm"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="ticket-sort pull-right">
                        <div class="dropdown" role="presentation">
                            <button class="dropdown-toggle text-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="title">{{gettext "Create Time"}}</span>
                                <b class="caret"></b>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li data-type="order" class="active"><a data-value="createdDate"><i class="fa fa-check"></i> <span>{{gettext "Create Time"}}</span></a></li>
                                <li data-type="order"><a data-value="priority"><i class="fa fa-check"></i> <span>{{gettext "Priority"}}</span></a></li>
                                <li class="divider"></li>
                                <li data-type="direction"><a data-value="asc"><i class="fa fa-check"></i> <span>{{gettext "Asc"}}</span></a></li>
                                <li data-type="direction" class="active"><a data-value="desc"><i class="fa fa-check"></i> <span>{{gettext "Desc"}}</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ticket-filter">
                        <div class="dropdown" role="presentation">
                            <button class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="title">{{gettext "All Tickets"}}</span>
                                <b class="caret"></b>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="my-tickets"><a href="/tickets/filters/my-tickets"><i class="fa fa-check"></i> <span class="title">{{gettext "My Opened Tickets"}}</span></a></li>
                                <li class="all-tickets active"><a href="/tickets"><i class="fa fa-check"></i> <span class="title">{{gettext "All Tickets"}}</span></a></li>
                                <li class="deleted-tickets"><a href="/tickets/trash"><i class="fa fa-check"></i> <span class="title">{{gettext "Deleted Tickets"}}</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="ticketsTableView"></div>
                </div>
            </div>
        </div>
    </div>
</div>

