<h4>{{gettext 'Contacts Tickets'}}</h4>
<div>
    <ul class="timeline-list">
    </ul>
    <div class="loading"><p>{{gettext 'Now Loading The Data'}}</p></div>
    <div class="non-items"><p>{{gettext 'No Recent Data'}}</p></div>
</div>
<div class="more-results"><a href="/tickets?requester={{requester}}&timeArea={{timeArea}}&sort={{sort}}&page={{page}}">{{gettext 'View All Tickets'}}</a></div>
