<i class="fa fa-ticket fa-2x" />
<a href="/tickets/{{id}}">{{subject}} #{{serialNumber}}</a><br>
<p>{{fromNow createdDate}}, {{gettext "Status"}}:  {{gettext state}}, {{gettext "Agent"}}:  {{assignee.name}}</p>
